doctype html(lang='en')
html(lang="en")
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    title Darren Taylor BSc
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(href='static/lib/materialize/css/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='static/lib/animate.css/css/animate.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='static/css/styles.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='http://fonts.googleapis.com/css?family=Fira+Sans:300,400', rel='stylesheet', type='text/css')
  body
    #wrap
      .container
        .header
          .row
            .col.s12.l8.animated.fadeInDown
              img.responsive-img(src='static/img/darrentaylor.jpg')
              h1 Darren Taylor
              p Tea Driven Development
            .col.s12.l4.contact.animated.fadeInDown
              ul.social.clearfix
                li.github.tooltipped(data-tooltip='View my Github profile', data-position='top')
                  a(href='https://github.com/dtisgodsson', target='_blank')
                    i.fa.fa-github-alt
                li.linkedin.tooltipped(data-tooltip='View my LinkedIn Profile', data-position='top')
                  a(href='uk.linkedin.com/in/darrentaytay', target='_blank')
                    i.fa.fa-linkedin
                li.twitter.tooltipped(data-tooltip='Follow me on Twitter', data-position='top')
                  a(href='http://twitter.com/darrentaytay', target='_blank')
                    i.fa.fa-twitter
                li.stackoverflow.tooltipped(data-tooltip='View my StackOverflow Profile', data-position='top')
                  a(href='http://stackoverflow.com/users/1090262/darren-taylor', target='_blank')
                    i.fa.fa-stack-overflow
              .clearfix
              .contact-details
                p
                  strong Email: 
                  a(href='mailto:shout@darrenonthe.net') shout@darrenonthe.net 
                p
                  strong Web: 
                  a(href='http://darrenonthe.net') http://darrenonthe.net   
                p
                  strong Skype: 
                  | darren_teed
        
        section.strapline.animated.bounceInDown.hide-on-med-and-down
          .row
            .col.s12
              h2 Hiya, my name is 
                strong Darren 
                | and I love 
                strong playing games
                |, 
                strong building things 
                | and I probably drink too much 
                strong tea
                |.
                
              p You can find the source code for this website over at 
                a(href='https://github.com/dtisgodsson/darrenonthe.net', target='_blank') Github 
                | along with my other open source contributions.
        
        
        //- BEGIN HIGHLIGHT SECTION
        section.sellyourself.animated.fadeInUp.hide-on-med-and-down
          .row
            .col.s4
              .highlight
                p.icon
                  i.fa.fa-gamepad
                h3 Award Winning Game Developer
                p
                  | After taking part in my first Game Jam; Scottish Game Jam 2012, me and my team scooped  "Best Technology" for our browser based space game, Space Scape.
                  
            .col.s4
              .highlight
                p.icon
                  i.fa.fa-code
                h3 Versatile Software Developer
                p
                  | Over 6 years professional experience in start up environments developing predominantley web solutions; server and client side using a variety of technologies.
            .col.s4
              .highlight
                p.icon
                  i.fa.fa-keyboard-o
                h3 More than a button basher
                p
                  | Experience in project planning and project management using Agile Scrum methodologies and love devising ways to increase productivity and efficiency in development teams.
        //- END HIGHLIGHT SECTION
               
        //- BEGIN PROFILE SECTION 
        section.profile.animated.fadeInUp
          .row
            .col.l3.s12
              h2 Profile
            .col.l9.s12
              p
                | Hailing from Dundee but now living in Kirkcaldy, Fife, I&apos;m primarily a 
                strong PHP Developer 
                | and currently working as the 
                strong Development Manager 
                | for Dunfermline based startup company, 
                a(href='http://planyscloud.com') Planys Cloud.
              p
                | Since graduating from 
                strong Dundee University 
                | in 2009 with a degree in 
                strong Computer Science, 
                | I have worked exclusively in startup companies helping plan, 
                | develop and maintain complex, 
                strong API-centric
                |, web applications along with supporting server side platforms and RESTful API's.
              p.
                Despite spending the majority of my professional experience in amongst thousands of lines of server side code, I also enjoy meddling with 
                Javascript frameworks such as Backbone to create dynamic user experiences and love an excuse to make something slide in or fade out. I'd also dive at the opportunity to try and test new technologies, server or client side.
              p.
                I have had the pleasure of working with some incredibly clever people on some fascinating projects from which I&apos;ve gained invaluable knowledge and experience. Through continued learning, I constantly strive to better myself and in turn, the work I produce. I enjoy learning from others and also passing on my own knowledge which I&apos;ve gained throughout an enjoyable career thus far and hope to continue in the same vein going forward.
        //- END PROFILE SECTION
                
        //- BEGIN SKILLS SECTION
        section.skills
          .row
            .col.s12.l3
              h2 Skills
            .col.s12.l9
              .row
                .col.s12.l4
                  ul.collection
                    li.collection-item Apache
                    li.collection-item PHP
                    li.collection-item MySQL
                    li.collection-item.tooltipped(data-tooltip='CodeIgniter, FuelPHP, Laravel etc.', data-position='left') 
                      span PHP MVC Frameworks
                    li.collection-item.tooltipped(data-tooltip='including jQuery', data-position='left')
                      span Coffee/Javascript
                    li.collection-item CSS / SASS / LESS
                .col.s12.l4
                  ul.collection
                    li.collection-item Ruby on Rails
                    li.collection-item.tooltipped(data-tooltip='Backbone.js and Angular.js', data-position='left')
                      span Javascript MVC Frameworks
                    li.collection-item Grunt/Gulp
                    li.collection-item MongoDB
                    li.collection-item Node.js
                    li.collection-item Express
                .col.s12.l4
                  ul.collection
                    li.collection-item Unit Testing
                    li.collection-itemli.collection-item.tooltipped(data-tooltip='Git, Subversion', data-position='left') 
                      span Version Control
                    li.collection-item Continious Integration
                    li.collection-item Agile Methodologies
                    li.collection-item Vagrant
                    li.collection-item.tooltipped(data-tooltip='Sphinx, ElasticSearch, Solar', data-position='left')
                      span Open Source Search Engines
        //- END SKILLS SECTION
        
        //- BEGIN PORTFOLIO SECTION
        section.portfolio
          .row
            .col.l3.s12
              h2 Portfolio
            .col.l9.s12
              .row
                .col.s12.l4
                  .portfolio-item
                    a(href='http://beefound.co.uk', target='_blank')
                      img.responsive-img(src='static/img/projects/beefound.jpg', width=200)
                    h4 BeeFound
                    p.summary Platform to help Locums find Practices and Practices find Locums which features automated booking phone calls with real time feedback.
                .col.s12.l4
                  .portfolio-item
                    a(href='http://www.openearmusic.com/business/', target='_blank')
                      img.responsive-img(src='static/img/projects/openear.jpg', width=200)
                    h4 OpenEar
                    p.summary HTML5/Javascript Online music streaming platform with offline capabilities.
                .col.s12.l4
                  .portfolio-item
                    a(href='http://www.mi-rewards.co.uk', target='_blank')
                      img.responsive-img(src='static/img/projects/mirewards.jpg', width=200)
                    h4 Mi Rewards Perth
                    p.summary Loyalty scheme platform for local businesses aimed at encouraging highstreet retail. Fully integrated with shop Point of Sale Terminals.
        //- END PORTFOLIO SECTION
                      
        //- BEGIN EMPLOYMENT SECTION
        section.employment
          .row
            .col.s12.l3
              h2 Work History
            .col.s12.l9
              article
                h3 Senior Developer / Development Manager
                p
                  span
                    i.fa.fa-map-marker
                    | Planys Cloud
                  span
                    i.fa.fa-calendar-o
                    | August 2012 - present
                    
                p
                  | Now a Development Manager, my role at Planys Cloud is to get products over the line - acting as a middle man between our Producers, Developers and any third parties who show an interest.
                  | Despite my additional responsibilities as a Development Manager, I still spend alot of time developing solutions for our clients in whatever technology we agree best fits the requirements. 
                  | Usually, this includes building complex PHP Content Management Systems which expose API's to support accompanying websites and mobile phone applications. 
              article
                h3 Software Developer
                p
                  span
                    i.fa.fa-map-marker
                    | Zendit
                  span
                    i.fa.fa-calendar-o
                    | July 2011 - Aug 2012
                    
                p
                  | My primary role was to maintain and further develop a "Platform as a Service" which was used to power a variety of applications.
                  | I also contributed to the creation and maintenance of the aforementioned applications which were usually interactive frontend websites
                  | using our Platform for all of it's business logic and data handling.
              article
                h3 Web Developer
                p
                  span
                    i.fa.fa-map-marker
                    | Internet Creation
                  span
                    i.fa.fa-calendar-o
                    | July 2009 - July 2011
                    
                p
                  | My day to day responsibilities were developing new and maintaining existing Websites for a huge client base across the world.
                  | From simple brochure websites, to e-commerce solutions and bespoke content management systems; I met and worked with clients directly to understand their business requirements
                  | and translate that into a functional website.
        //- END EMPLOYMENT SECTION
        
        //- BEGIN EDUCATION SECTION
        section.education
          .row
            .col.l3.s12
              h2 Education
            .col.l9.s12
              article
                h3 Degree in Computer Science / Applied Computing
                p
                  span
                    i.fa.fa-map-marker
                    | University of Dundee
                  span
                    i.fa.fa-calendar-o
                    | 2007 - 2009
              article
                h3 Java Online: introduction to Object Oriented Progrmaming
                p
                  span
                    i.fa.fa-map-marker
                    | University of Dundee
                  span
                    i.fa.fa-calendar-o
                    | 2006 - 2007
              article
                h3 HND (Higher National Diploma) Software Development
                p
                  span
                    i.fa.fa-map-marker
                    | Dundee College
                  span
                    i.fa.fa-calendar-o
                    | 2006 - 2007
              article
                h3 HNC (Higher National Certificate) Computing
                p
                  span
                    i.fa.fa-map-marker
                    | Dundee College
                  span
                    i.fa.fa-calendar-o
                    | 2005 - 2006
              article
                h3 NQ (National Qualification) Information Systems
                p
                  span
                    i.fa.fa-map-marker
                    | University of Dundee
                  span
                    i.fa.fa-calendar-o
                    | 2004 - 2005
        //- END EDUCATION SECTION
    script(src='static/js/frontend.js')