doctype html(lang='en')
html(lang="en")
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    title Darren Taylor
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(href='static/lib/materialize/css/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='static/css/styles.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='http://fonts.googleapis.com/css?family=Fira+Sans:300,400', rel='stylesheet', type='text/css')
  body
    #wrap
      .container
        .header
          .row
            .col.s12.l8
              img(src='static/img/darrentaylor.jpg')
              h1 Darren Taylor
              p Tea Driven Development
            .col.s12.l4.contact
              ul.social.clearfix
                li.github.tooltipped(data-tooltip='View my Github profile', data-position='top')
                  a(href='https://github.com/dtisgodsson', target='_blank')
                    i.fa.fa-github-alt
                li.linkedin.tooltipped(data-tooltip='View my LinkedIn Profile', data-position='top')
                  a(href='uk.linkedin.com/in/darrentaytay', target='_blank')
                    i.fa.fa-linkedin
                li.twitter.tooltipped(data-tooltip='Follow me on Twitter', data-position='top')
                  a(href='http://twitter.com/darrentaytay', target='_blank')
                    i.fa.fa-twitter
                li.stackoverflow.tooltipped(data-tooltip='View my StackOverflow Profile', data-position='top')
                  a(href='http://stackoverflow.com/users/1090262/darren-taylor', target='_blank')
                    i.fa.fa-stack-overflow
              .clearfix
              .contact-details
                p
                  strong Email: 
                  a(href='mailto:shout@darrenonthe.net') shout@darrenonthe.net 
                p
                  strong Web: 
                  a(href='http://darrenonthe.net') http://darrenonthe.net   
                p
                  strong Mobile: 
                  | 07702333740              
                p
                  strong Skype: 
                  | darren_teed
        section.sellyourself
          .row
            .col.s4
              .highlight
                h3 Award Winning Game Developer
                p
                  | After taking part in my first Game Jam; Scottish Game Jam 2012, me and my team scooped  "Best Technology" for our browser based space game, Space Scape.
                  
            .col.s4
              .highlight
                h3 
                p
                  | 6 years professional experience in start up environments developing predominantley web solutions, back end and front end using a wide variety of technologies.
            .col.s4
              .highlight
                h3 
                
        section.profile
          .row
            .col.s3
              h2 Profile
            .col.s9
              p
                | Hailing from Dundee but now living in Kirkcaldy, Fife, I&apos;m primarily a 
                strong PHP Developer 
                | with over 6 years professional experience and currently working as the 
                strong Development Manager 
                | for Dunfermline based startup company, 
                a(href='http://planyscloud.com') Planys Cloud.
              p
                | Since graduating from 
                strong Dundee University 
                | in 2009 with a degree in 
                strong Computer Science, 
                | I have worked exclusively in startup companies helping plan, 
                | develop and maintain complex web applications along with supporting server side platforms.
              p.
                Despite spending the majority of my professional experience in amongst thousands of lines of server side code, I also enjoy meddling with Javascript frameworks such as Backbone to create dynamic user experiences; essentially, I like to make things slide in and fade out!
              p.
                I have had the pleasure of working with some incredibly clever people on some fascinating projects from which I&apos;ve gained invaluable knowledge and experience. Through continued learning, I constantly strive to better myself and in turn, the work I produce. I enjoy learning from others and also passing on my own knowledge which I&apos;ve gained throughout an enjoyable career thus far and hope to continue in the same vein going forward.
        section.skills
          .row
            .col.s3
              h2 Skills
            .col.s9
              .row
                .col.s4
                  ul.collection
                    li.title.collection-item Core
                    li.collection-item Apache
                    li.collection-item PHP
                    li.collection-item MySQL
                    li.collection-item MVC Frameworks
                    li.collection-item Coffee/Javascript
                    li.collection-item CSS / SASS / LESS
                .col.s4
                  ul.collection
                    li.title.collection-item Strong
                    li.collection-item Ruby on Rails
                    li.collection-item Backbone.js
                    li.collection-item Grunt/Gulp
                    li.collection-item MongoDB
                    li.collection-item Node.js
                .col.s4
                  ul.collection
                    li.title.collection-item Practices
                    li.collection-item Unit Testing
                    li.collection-item Version Control
                    li.collection-item Continious Integration
                    li.collection-item Agile Development
        section.employment
          .row
            .col.s3
              h2 Work 
                br  
                History
            .col.s9
              article
                h3 Development Manager    
                p.employer Planys Cloud / Dunfermline    
                p.date Aug 2012 - Present
    script(src='static/js/frontend.js')